# Visual Studio
.vs/

# Build folders
bin/
obj/

# NuGet packages
packages/

# User-specific files
*.user
*.suo

# Visual Studio cache
*.userosscache
*.sln.docstates

# Debug / Release output
Debug/
Release/

# Temporary files
*.tmp
*.temp
*.log

# OS files
.DS_Store
Thumbs.db